body {
    background-size: 100% 800px;
    background-repeat: no-repeat;
}

#maind {
    position: relative;
    left: 50%;
    margin-left: -225px;
    height: 450px;
    width: 450px;
    top: 100px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: solid 2px;
    border-radius: 20%;
    background-color: white;
}

#p1,
#p2 {
    position: absolute;
    display: none;
    top: 20px;
    left: 50%;
    margin-left: -130px;
    color: white;
}

#p3 {
    position: absolute;
    display: none;
    top: 20px;
    left: 50%;
    margin-left: -45px;
    color: white;
}