body {
    background-size: 100% 800px;
    background-repeat: no-repeat;
}

#maind {
    position: relative;
    left: 50%;
    margin-left: -225px;
    height: 550px;
    width: 450px;
    top: 100px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-content: center;
}

.square {
    height: 150px;
    width: 150px;
    background-image: url(./plate.png);
    background-size: 150px 150px;
    background-color: transparent;
}

#winner {
    position: absolute;
    display: none;
    top: 20px;
    left: 50%;
    margin-left: -170px;
    color: white;
}

#draw {
    position: absolute;
    display: none;
    top: 20px;
    left: 50%;
    margin-left: -50px;
    color: white;
}

#player1Chars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    position: absolute;
    left: 3%;
    top: 20%;
    height: 400px;
    width: 400px;
}

#player2Chars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    position: absolute;
    right: 3%;
    top: 20%;
    height: 400px;
    width: 400px;
    visibility: hidden;
}

.chars {
    height: 150px;
    width: 150px;
}

#Broasted {
    background-image: url(./broasted2.png);
    background-size: 150px 150px;
}

#Shawerma {
    background-image: url(./shawerma.png);
    background-size: 150px 150px;
}

#Burger {
    background-image: url(./burger2.png);
    background-size: 150px 150px;
}

#Zinger {
    background-image: url(./zinger2.png);
    background-size: 150px 150px;
}

#Fajita {
    background-image: url(./fajita.png);
    background-size: 150px 150px;
}

#Mansaf {
    background-image: url(./mansaf.png);
    background-size: 150px 150px;
}

#Player1Char {
    position: absolute;
    top: 20%;
    left: 3%;
    height: 400px;
    width: 400px;
}

#Player2Char {
    position: absolute;
    top: 20%;
    right: 3%;
    height: 400px;
    width: 400px;
}